<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
   
   {% block mainmenu %}
        <ul>
            {% for item in menu %}
                <li><a href="{% url item.url %}">{{ item.title }}</a></li>
            {% endfor %}
        </ul>
   {% endblock mainmenu %}

    {% block content %}
    {% endblock content %}

    {% block footer %}
        <footer>
            <p>ყველა უფლება დაცულია &copy;</p>
        </footer>
    {% endblock footer %}   
    
    
</body>
</html>